.svn/
*.msi
*.sqlite
*.sqlite-journal
*.swo
*.swp
perlapp_projects/linux_64/LacunaWaX/
perlapp_projects/linux_64/LacunaWaX*.gz
perlapp_projects/windows_32/build
perlapp_projects/windows_32/LacunaWaX-cache
perlapp_projects/windows_32/LacunaWaX_win32.zip
user/doc/html/html.idx/
